footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 20px; 
    padding-top: 10px; 
    background-color: #28a745;
    border-color: #28a745;
    text-align: center;
  }

  #logo{
    background-color: #28a745;
  }
  div#logo img{
    width: 1349px; 
    height: 131px;
  }
  html {
    min-height: 100%;
    position: relative;
  }
  
  body {
    margin: 0;
    margin-bottom: 70px;
  }

  .menucentrado{
    margin: 100px;
    text-align:center;
    vertical-align:middle;
  }

  table {
    font-size: x-large;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: middle;
    padding: 8px;
  }

  .centrar{
    text-align:center;
    vertical-align:middle;
  }